{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <h1>Selecione o carro dos seus sonhos:</h1>
        <form action="." method="post">
            {% csrf_token %}

            <div class="form-row label-block input-text">
                <label for="{{ form.brand.id_for_label }}">{{ form.brand.label }}</label>
                {{ form.brand.errors }}
                {{ form.brand }}
            </div>

            <br>

            <div class="form-row label-block input-text">
                <label for="{{ form.model.id_for_label }}">{{ form.model.label }}</label>
                {{ form.model.errors }}
                {{ form.model }}
            </div>

            <br>

            <div class="form-row label-block input-text">
                <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
                {{ form.year.errors }}
                {{ form.year }}
            </div>
            
            <p>
                <input type="submit" value="Gerar!"/>
            </p>
        </form>
    </section>
    <section>
        Lista de desvalorização
        <div>
            <ul>
                {% for car in list_fipe %}
                    <li>{{car}}
                        <ul>
                            {% for evaluation in car.evaluations.all %}
                              <li>{{evaluation.month}} - {{evaluation.year}} - {{evaluation.evaluation}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </section>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script>
    $.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {
        console.log(data);
    Highcharts.chart('container', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'USD to EUR exchange rate over time'
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'USD to EUR',
            data: data
        }]
    });
});
    </script>
    <script>
        $(document).ready(function () {
            $('select[name=brand]').change(function () {
                $.get('/api/fipe/model', {'codBrand' : $(this).val()}, function (data) {
                    var data = JSON.parse(data.data);
                    var html = ["<option>Selecione...</option>"];
                    for (var i in data) {
                        html.push("<option value='"+data[i].fields.code+"'>"+data[i].fields.label+"</option>")
                    }
                    $('select[name=model]').html(html.join("")).attr('disabled',false);
                })
            });

            $('select[name=model]').change(function () {
                $.get('/api/fipe/year', {'codModel' : $(this).val()}, function (data) {
                    var data = JSON.parse(data.data);
                    var html = ["<option>Selecione...</option>"];
                    for (var i in data) {
                        html.push("<option value='"+data[i].fields.code+"'>"+data[i].fields.label+"</option>")
                    }
                    $('select[name=year]').html(html.join("")).attr('disabled',false);
                })
            })
        })
    </script>
</body>
</html>